* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
  background-color: #ff66ff;
}

header > div {
  background-color: pink;
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
}
header > div:first-child {
  margin-right: auto;
}

main {
  display: flex;
  justify-content: center;
}

.left {
  width: 300px;
  background-color: palegreen;
}

.right {
  flex-grow: 1;
  max-width: 700px;
  background-color: green;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.right > div {
  background-color: yellow;
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
}

footer {
  padding: 20px;
  background-color: blue;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

footer > div {
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
  background-color: paleturquoise;
}

footer > div:nth-child(2) {
  align-self: flex-end;
}
